# Procesando el texto de Twitter.

Anteriormente , aprendimos como recopilar datos de twitter , ahora analizaremos el texto de los tweets.

Recordemos que hay muchas partes en el JSON de twitter, podria decirse que la parte mas importante del tweet es el texto, recordemos qe podemos acceder a el atraves de `['text']`.Sin embargo, ese no es el único lugar donde podemos extraer elementos significativos basados en texto.

Twitter ha permitido utilizar más de 140 caracteres, si bien esto es ideal para la autoexpresión y divertidos juegos de emoji, para adaptarse a eso twitter agregó un JSON secundario de Twitter, para los tweets de más de 140 caracteres , podemos acceder al texto atraves del objeto `extenden_tweet` & el campo `full_text`.

Recordemos que para obtener esos objetos en retweets y tweets citados, nosotros tenemos que acceder a los objetos JSON secundarios `retweeted_status` o `quoted_status`.

Una vez analisado el JSON , podemos acceder a estos elementos encadenando los diccionarios, las partes del objeto JSON del usuario pueden tener elemtnos textuales informativos.

Podemos obtener información sobre las comunidades , el comportamiento partidista o la ubicación geográfica de un usuario através de su perfil de usuario.

Para extraerlos , accedemos a los campos:

* tweet['user']['description']
* tweet['user']['location']

Hasta ahora solo hemos analizado tweets individuales, pero para analizar un conjunto de tweets , es util poner todo el un dataframe de Pandas.

Esto nos permite aplicar ciertos métodos de análisis en todas las filas y multiples columnas.
Sin embargo con los múltiples elementos secundarios JSON , no podemos acceder fácilmente a los valores de esos elementos ecundarios en columnas.

Para acer esto, aplanaremos el JSON almacenando los valores secundarios en las claves de nivel superior.

Para poner toda esta informacion en un dataframe , tenemos que recorrer todos los tweets individualmente.

Primero abrimos el archiuvo json:

In [ ]:
tweet_list = []
with open('example.json','r') as rh:
  # Dividimos el JSON por el caracter de nueva linea.
  tweet_json = fh.read().split('\n')
  # verificamos si el tweet contiene un campo de interes 
  for tweet in tweet_json:
    tweet_obj = json-loads(tweet)

    if 'extended_tweet' in tweet_obj:
        tweet_obj['extenden_tweet_full_text'] =
           tweet_obj['extender_tweet']['full_text']
           ...
    # agregamos este objeto a una lista de tweets       
    tweet_list.append(tweet)

Debido a que e sun lista de diccionarios, podemos pasarla como argumento a pandas.

EJEMPLO:

### Elementos de tweet y acoplo de tweets

Hay varios campos en el JSON de Twitter que contienen datos textuales.En un tweet típico:

* Está el texto del tweet.
* La descripción del usuario.
* La ubicación del usuario. 

En un tweet de más de 140 caracteres, está el tweet secundario JSON extendido. Y en un tweet citado, está el texto del tweet original y el comentario con el tweet citado.

Para este ejemplo, extraeremos elementos textuales de un solo tweet citado en el que el tweet original tiene más de 140 caracteres. Luego, para analizar tweets a escala, queremos aplanar el tweet JSON en un solo nivel. Esto nos permitirá almacenar los tweets en formato DataFrame.

In [2]:
quoted_tweet = {'contributors': None,
 'coordinates': None,
 'created_at': 'Wed Apr 25 17:20:04 +0000 2018',
 'display_text_range': [0, 35],
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [{'display_url': 'twitter.com/alexhanna/stat…',
    'expanded_url': 'https://twitter.com/alexhanna/status/989191655759663105',
    'indices': [36, 59],
    'url': 'https://t.co/BzbLDz9j6g'}],
  'user_mentions': []},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': None,
 'id': 989192330832891904,
 'id_str': '989192330832891904',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': True,
 'lang': 'en',
 'place': None,
 'possibly_sensitive': False,
 'quote_count': 0,
 'quoted_status': {'contributors': None,
  'coordinates': None,
  'created_at': 'Wed Apr 25 17:17:23 +0000 2018',
  'entities': {'hashtags': [],
   'symbols': [],
   'urls': [{'display_url': 'twitter.com/i/web/status/9…',
     'expanded_url': 'https://twitter.com/i/web/status/989191655759663105',
     'indices': [116, 139],
     'url': 'https://t.co/MlFg4qFnEC'}],
   'user_mentions': []},
  'extended_tweet': {'display_text_range': [0, 191],
   'entities': {'hashtags': [],
    'symbols': [],
    'urls': [],
    'user_mentions': []},
   'full_text': 'O 280 characters, 280 characters! Wherefore art thou 280 characters?\nDeny thy JSON and refuse thy key.\nOr, if thou wilt not, be but sworn my love,\nAnd I’ll no longer be a 140 character tweet.'},
  'favorite_count': 1,
  'favorited': False,
  'filter_level': 'low',
  'geo': None,
  'id': 989191655759663105,
  'id_str': '989191655759663105',
  'in_reply_to_screen_name': None,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'is_quote_status': False,
  'lang': 'en',
  'place': None,
  'quote_count': 0,
  'reply_count': 1,
  'retweet_count': 0,
  'retweeted': False,
  'source': '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
  'text': 'O 280 characters, 280 characters! Wherefore art thou 280 characters?\nDeny thy JSON and refuse thy key.\nOr, if thou… https://t.co/MlFg4qFnEC',
  'truncated': True,
  'user': {'contributors_enabled': False,
   'created_at': 'Thu Jan 18 20:37:52 +0000 2007',
   'default_profile': False,
   'default_profile_image': False,
   'description': 'Assistant professor @UofT. Protest, media, computation. Trans. Roller derby athlete @TOROLLERDERBY (Kate Silver #538). She/her.',
   'favourites_count': 23526,
   'follow_request_sent': None,
   'followers_count': 4275,
   'following': None,
   'friends_count': 2806,
   'geo_enabled': True,
   'id': 661613,
   'id_str': '661613',
   'is_translator': False,
   'lang': 'en',
   'listed_count': 246,
   'location': 'Toronto, ON',
   'name': 'Alex Hanna, Data Witch',
   'notifications': None,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
   'profile_background_tile': False,
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/661613/1524231456',
   'profile_image_url': 'http://pbs.twimg.com/profile_images/980799823900180483/J9CDOX_X_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/980799823900180483/J9CDOX_X_normal.jpg',
   'profile_link_color': '0671B8',
   'profile_sidebar_border_color': '666666',
   'profile_sidebar_fill_color': 'CCCCCC',
   'profile_text_color': '333333',
   'profile_use_background_image': False,
   'protected': False,
   'screen_name': 'alexhanna',
   'statuses_count': 71925,
   'time_zone': 'Eastern Time (US & Canada)',
   'translator_type': 'regular',
   'url': 'http://alex-hanna.com',
   'utc_offset': -14400,
   'verified': False}},
 'quoted_status_id': 989191655759663105,
 'quoted_status_id_str': '989191655759663105',
 'reply_count': 0,
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
 'text': 'maybe if I quote tweet this lil guy https://t.co/BzbLDz9j6g',
 'timestamp_ms': '1524676804632',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Thu Jan 18 20:37:52 +0000 2007',
  'default_profile': False,
  'default_profile_image': False,
  'description': 'Assistant professor @UofT. Protest, media, computation. Trans. Roller derby athlete @TOROLLERDERBY (Kate Silver #538). She/her.',
  'favourites_count': 23526,
  'follow_request_sent': None,
  'followers_count': 4275,
  'following': None,
  'friends_count': 2806,
  'geo_enabled': True,
  'id': 661613,
  'id_str': '661613',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 246,
  'location': 'Toronto, ON',
  'name': 'Alex Hanna, Data Witch',
  'notifications': None,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/661613/1524231456',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/980799823900180483/J9CDOX_X_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/980799823900180483/J9CDOX_X_normal.jpg',
  'profile_link_color': '0671B8',
  'profile_sidebar_border_color': '666666',
  'profile_sidebar_fill_color': 'CCCCCC',
  'profile_text_color': '333333',
  'profile_use_background_image': False,
  'protected': False,
  'screen_name': 'alexhanna',
  'statuses_count': 71926,
  'time_zone': 'Eastern Time (US & Canada)',
  'translator_type': 'regular',
  'url': 'http://alex-hanna.com',
  'utc_offset': -14400,
  'verified': False}}

In [4]:
# Imprimimos el tweet
print(quoted_tweet['text'])

maybe if I quote tweet this lil guy https://t.co/BzbLDz9j6g

In [6]:
# Imprimimos el texto del tweet citado 
print(quoted_tweet['quoted_status']['text'])

O 280 characters, 280 characters! Wherefore art thou 280 characters?
Deny thy JSON and refuse thy key.
Or, if thou… https://t.co/MlFg4qFnEC

In [7]:
# Imprimir el texto completo extendido (más de 140 caracteres) del tweet citado.

print(quoted_tweet['quoted_status']['extended_tweet']['full_text'])

O 280 characters, 280 characters! Wherefore art thou 280 characters?
Deny thy JSON and refuse thy key.
Or, if thou wilt not, be but sworn my love,
And I’ll no longer be a 140 character tweet.

In [8]:
# imprimimos la localización del usuario

print(quoted_tweet['quoted_status']['user']['location'])

Toronto, ON

In [12]:
# Almacenamos el usuario screen_name en 'user-screen_name'
quoted_tweet['user-screen_name'] = quoted_tweet['user']['screen_name']

# Almacenar el texto quoted_status en 'quoted_status-text'
quoted_tweet['quoted_status-text'] = quoted_tweet['quoted_status']['text']

# Almacene el texto extendido (140+) del tweet citado en
 # 'quoted_status-extended_tweet-full_text'
quoted_tweet['quoted_status-extended_tweet-full_text'] = quoted_tweet['quoted_status']['extended_tweet']['full_text']

### Una función de aplanamiento de tweets.

Normalmente estamos interesados ​​en cientos o miles de tweets. Para este propósito, tiene sentido definir una función para aplanar el archivo JSON lleno de tweets.

Llamemos a esta función `flatten_tweets()`. Usaremos esta función varias veces en este curso y la cambiaremos ligeramente a medida que manejamos diferentes tipos de datos.

In [19]:
import json
def flatten_tweets(tweets_json):
    """Aplana los diccionarios
     de tweets para que JSON relevante 
     esté en un diccionario de nivel superior."""
    tweets_list = []
    
    # Iterar cada tweet
    for tweet in tweets_json:
        tweet_obj = json.loads(tweet)
    
        # Almacena el nombre de pantalla del usuario en 'user-screen_name'
        tweet_obj['user-screen_name'] = tweet_obj['user']['screen_name']
    
        # Comprueba si se trata de un tweet de más de 140 caracteres
        if 'extended_tweet' in tweet_obj:
            # Almacene el texto del tweet extendido en 'extended_tweet-full_text'
            tweet_obj['extended_tweet-full_text'] = tweet_obj['extended_tweet']['full_text']
    
        if 'retweeted_status' in tweet_obj:
            # Almacena el nombre de pantalla del usuario de retweet en 'retweeted_status-user-screen_name'
            tweet_obj['retweeted_status-user-screen_name'] = tweet_obj['retweeted_status']['user']['screen_name']

            # Almacena el texto del retweet en 'retweeted_status-text'
            tweet_obj['retweeted_status-text'] = tweet_obj['retweeted_status']['text']
            
        tweets_list.append(tweet_obj)
    return tweets_list

# Cargando tweets en un DataFrame.

Ahora es el momento de importar datos a un DataFrame de pandas para que podamos analizar los tweets a escala. 

Trabajaremos con un conjunto de datos de tweets que contienen el hashtag '#rstats' o '#python'. Este conjunto de datos se almacena como una lista de objetos JSON de tweet en data_science_json

In [25]:
import pandas as pd

df = '/content/data-science-hashtags.csv'
pd.read_csv(df)

      contributors  ... user-screen_name
0              NaN  ...       mushfiqweb
1              NaN  ...      Dw_Develops
2              NaN  ...     pinyosminyos
3              NaN  ...  datascience_new
4              NaN  ...         PythonCs
...            ...  ...              ...
1164           NaN  ...      tchandereng
1165           NaN  ...    kamarul_imran
1166           NaN  ...         blog_SLR
1167           NaN  ...     OksanaToneja
1168           NaN  ...         PyDataBA

[1169 rows x 43 columns]

# Cargando tweets en un DataFrame.

Ahora es el momento de importar datos a un DataFrame de pandas para que podamos analizar los tweets a escala. 
Trabajaremos con un conjunto de datos de tweets que contienen el hashtag '#rstats' o '#python'. Este conjunto de datos se almacena como una lista de objetos JSON de tweet en data_science_json

In [ ]:
# Import pandas
import pandas  as pd

# Flatten the tweets and store in `tweets`
tweets = flatten_tweets(df)

# Create a DataFrame from `tweets`
ds_tweets = pd.DataFrame(tweets)

# Print out the first 5 tweets from this dataset
print(ds_tweets['text'].values[0:5])