# Introdución a los archivos planos.

En ete curso, nos centraremos en la ingesta de datos, un paso fundamental en cualquier proyecto de ciencia de datos, ya que no podemos analizar lo que no podemos ver.

También aprenderemos un poco, algunas técnicas para limpiar datos desordenados, para hacer esto usaremos la biblioteca de Python Pandas.

La parte central de pandas es el Data Frame, recodemos que un DataFrame es una estructura de datos bidimensional, lo cual significa que tiene columnas , generalmente etiquetadas con nombres de variables & filas que también tienen etiquetas  conocidas como indices.

El índice predeterminado es el número de fila, pero podemos epecificar una columna como indice y también podemos usar muchos tipos de datos.

Si bien podemos crear Data Frames generalmente  cargaremos datos existentes.Pandas maneja muchos formatos de datos, pero comencemos con uno de los más básicos el archivo plano.

## Flat File.

Estos archivos son simples, lo que los hace populares para almacenar y compratir datos, se pueden exportar desde sitemas de gestión de bases de datos y hojas de cálculo.

En un archivo plano ,los datos se almacenan como texto sin formato donde cada linea en el archivo representa una fila , con valores de columna separados por un carácter elegido llamado *delimitador*.

Por lo general el delimitador es una coma y estos arcivos se llaman *CSV* o comma-separated values , pero se pueden usar otros caracteres.Una sola función de pandas carga todos los archivos planos , sin importar el limitador con la función `read_csv()`.

# Cargando datos CSV.

Importemos algunos datos los cuales nos brinda google colab , para que todos los tengan disponibles:

Primero importamos pandas :

In [1]:
import pandas as pd

Luego , pasamos la ruta del archivo como un string a `.read_csv()`

In [2]:
house_file = pd.read_csv("/content/sample_data/california_housing_test.csv")

Finalmente verificamos las primeras filas del nuevo DataFrame con `.head()`

In [3]:
house_file.head(4)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0

[4 rows x 9 columns]

### ¿Pero que pasas si ese archivo usa un delimitador diferente?

Pandas nos permite importar cualquier archivo plano con `pd.read_csv()` y pasandole el argumento `sep`.

Asignamos nuestra ruta a una ariable pero como argumento extra incluimos el argumento sep, indicando que esta separado por un tabulador que se representa con `"\t"`

In [4]:
house_file = pd.read_csv("/content/sample_data/california_housing_test.csv",sep="\t")

# EJEMPLOS:

Crearemos un DataFrame a partir de un archivo CSV. Estados Unidos pone a disposición archivos CSV que contienen datos fiscales por ZIP o código postal, lo que nos permite analizar la información de ingresos en diferentes partes del país. Nos centraremos en un subconjunto de los datos, vt_tax_data_2016.csv, que tiene estadísticas fiscales seleccionadas por código postal en Vermont en 2016.

Como es una URL usaremos la funcion `urlretrieve` explicada en los cursos anteriores:

In [9]:
#importamos paquetes necesrios
from urllib.request import urlretrieve
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
# asiganmos la url 
data = "https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv"
# guardamos el archivo
urlretrieve(data)
# leemo el arhivo en un dataframe

df = pd.read_csv(data)

# mostramos el dataframe
df.head()

   STATEFIPS STATE  zipcode  agi_stub  ...  N11901  A11901  N11902  A11902
0         50    VT        0         1  ...   10820    9734   88260  138337
1         50    VT        0         2  ...   12820   20029   68760  151729
2         50    VT        0         3  ...   10810   24499   34600   90583
3         50    VT        0         4  ...    7320   21573   21300   67045
4         50    VT        0         5  ...   12500   67761   23320  103034

[5 rows x 147 columns]