# Manejo de errores & datos faltantes.

Hasta ahor hemos importado archivos planos con ajustes menores para establecer nombres de columna y administrar la cantidad de datos cargados.

Esto es suficiente si los datos ya están en buen estado, pero que pasas si hay problemas con los datos o la importación de ellos.

## Problemas comunes.

* Los porblemas comune sincluyen tipos de datos de columna incorrectos que pueden dificultar el análisis.

* Valores Faltantes indicados con designadores personalizados.

* Resgistros que no pueden ser leidos por Pandas.

Afortunadamente `read_csv` tiene mas formas de abordar estos problemas durante la importación, reduciendo las disputas necesarias más adelante.


Al importar datos, Pandas infiere el tipo de datos de cada columna pero aveces infiere mal

In [6]:
from urllib.request import urlretrieve
import pandas as pd
# asiganmos la url 
data = "https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv"
# guardamos el archivo
urlretrieve(data)
# leemo el arhivo en un dataframe

df = pd.read_csv(data)

# mostramos el dataframe
df.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

Al verificar los tipos de datos en los impuestos , vemos que pandas interpreto los códigos postales como enteros, ain embargo estos estan modelados con mayor precision como strings, recordemos que los códigos postales no son cantidades e incluyen ceros iniciales significtivos.

En lugar de que pandas adivine podemos establecer el tipo de dato de cualquiera o de todas las columnas con el argumento `dtype` de csv.

`dype` toma un diccionario , donde cada clave es un nombre de la columna y cada valor es el tipo de datos que debería ser esa columna.

  A continuación especificaremos que zipcode es un string:

In [8]:
text_data = pd.read_csv(data,dtype={"zipcode":str})
text_data.dtypes

STATEFIPS     int64
STATE        object
zipcode      object
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

Al imprimir nuestros tipos de datos vemos que e sun objeto , que es la contraparte de las strings en Python.

# Modificando datos faltantes.

La falta de datos es otro problema común, pandas reconoce automáticamente algunos valores como Na o Nan , lo que permite el uso de prácticas funciones de limpieza de datos.

En nuestros datos , los registros se ordenaron para que los primeros tengan código postal 0, que no es un código valido y debe ser tratado como perdido.

In [9]:
text_data.head()

   STATEFIPS STATE zipcode  agi_stub  ...  N11901  A11901  N11902  A11902
0         50    VT       0         1  ...   10820    9734   88260  138337
1         50    VT       0         2  ...   12820   20029   68760  151729
2         50    VT       0         3  ...   10810   24499   34600   90583
3         50    VT       0         4  ...    7320   21573   21300   67045
4         50    VT       0         5  ...   12500   67761   23320  103034

[5 rows x 147 columns]

Podemos decirle a pandas que consideren estos datos faltantes con el argumento `na_values`, los cuales aceptan un solo valor, puede ser una lista de valores o un diccionario de columnas y valores en esa columna para tratar como datos faltantes.

Pasemos un diccionario que especifique qe los ceros en el co1digo postal deben tratarse como datos faltantes.

In [10]:
text_data = pd.read_csv(data,na_values={"zipcode":0})
text_data.head()

   STATEFIPS STATE  zipcode  agi_stub  ...  N11901  A11901  N11902  A11902
0         50    VT      NaN         1  ...   10820    9734   88260  138337
1         50    VT      NaN         2  ...   12820   20029   68760  151729
2         50    VT      NaN         3  ...   10810   24499   34600   90583
3         50    VT      NaN         4  ...    7320   21573   21300   67045
4         50    VT      NaN         5  ...   12500   67761   23320  103034

[5 rows x 147 columns]

Luego filtramos los datos usando el método ìsna en la columna de código postal para ver las filas con los códigos postales faltantes.

In [11]:
text_data[text_data.zipcode.isna()]

   STATEFIPS STATE  zipcode  agi_stub  ...  N11901  A11901  N11902  A11902
0         50    VT      NaN         1  ...   10820    9734   88260  138337
1         50    VT      NaN         2  ...   12820   20029   68760  151729
2         50    VT      NaN         3  ...   10810   24499   34600   90583
3         50    VT      NaN         4  ...    7320   21573   21300   67045
4         50    VT      NaN         5  ...   12500   67761   23320  103034
5         50    VT      NaN         6  ...    3900   93123    2870   39425

[6 rows x 147 columns]

Un ultima porblema que podemos enfrentear son las línes que pandas simplemente no puede analizar. 

Por ejemplo un registro podria tener mas valores de los que hay, para solucionar esto tenemos dos argumentos que son:

* `error_bad_lines=False` - para saltar registro no validos
* `ewarn_bad_lines=True` - Le dice a pandas si muestra mensajes cuando se omiten las linea que no se pueden analizar.